* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
}
body {
  background: fixed linear-gradient(to bottom, #00327e,  #d8d5d5);
}
#header {
  padding: 2%;
  background-color: #111111cb;
  height: 45px;
  color: #efe1d1;
  display: flex;
  justify-content: center;
  align-items: center;
}

header a {
  text-decoration: none;
  color: #efe1d1;
  font-size: 2.5rem;
  margin: 10px;
}
header a:hover {
  background-color: #302f2fcb;
}
main {
  display: flex;
  
  height: 100vh;
  flex-direction: column;
  position: relative;
  margin-top: 5%;
  justify-content: space-around;
}
.project-card {
  
  width: 80vw;
  height: 25vh;
  position: relative;
  left: 10%;
}
.project-card p {
 
  width: 75%;
  position: absolute;
  left: 25%;
  height: 70%;
bottom: 0%;
color: #fff;
font-size: 2.5rem;

}
.project-card p span a{
  text-decoration: none;
  color: #000000;
  font-weight:900;
}
.project-card h2{
  position: absolute;
  font-size: 3.5rem;
  color: #fff;

  width: 75%;
  height: 29%;
  left: 25%;
  top: 0%;
}

.project-pfp {
  height: 24vh;
  width: 24%;
  padding: 0.25%;
  border-radius: 25px;
  position: relative;
  
}
#footer {
  height: 8vh;
  width: 100%;
  border-color: #331d2c;
  position: relative;
  background-color: #331d2c;
  color: #efe1d1;
  bottom: 0%;
  text-align: center;
  font-size: 2rem;
}
.title{


width: 25%;
position:absolute;
left: 38%;
text-align: center;
top: 15%;
font-size: 3rem;
}